@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-twitter-accent: rgb(29, 155, 240);

  --color-twitter-text-inverse: #ffffff;
  --color-twitter-background-inverse: #0f1419;

  --color-twitter-border-light: #eff3f4;
  --color-twitter-border-strong: #cfd9de;

  --color-twitter-text-primary: #0f1419;
  --color-twitter-text-secondary: #536471;

  --color-twitter-text-error: #f4212e;
  --color-twitter-text-divider: #cfd9de;

  --color-twitter-accent-primary: #1d9bf0;
  --color-twitter-accent-primary-hover: #1a8cd8;
  --color-twitter-accent-primary-disabled: #8ecdf7;

  --color-twitter-background-surface: #ffffff;
  --color-twitter-background-hover: #e7e7e8;
  --color-twitter-background-subtle-hover: #f1f5f9;
  --color-twitter-background-pinned: #e8f5fd;
  --color-twitter-background-card: #f0f2f3;
  --color-twitter-background-inverse: #0f1419;
  --color-twitter-background-hover-inverse: #272c30;

  --color-twitter-border-light: #eff3f4;
  
  --color-twitter-border-input: #d0d5d7;

  --color-twitter-fill: #f7f9f9;
  --color-twitter-fill-muted: #536471;
  --color-twitter-fill-accent: #1d9bf0;

  --color-twitter-divide-light: #eff3f4;
  --color-twitter-overlay: rgba(0, 0, 0, 0.3);
  --color-twitter-ring-focus: #38bdf8;
  --color-twitter-ring-offset: #ffffff;
}

@layer theme {
  .dark {
    --color-twitter-text-inverse: #0f1419;
    --color-twitter-background-inverse: #eff3f4;

    --color-twitter-border-light: #2f3336;
    --color-twitter-border-strong: #536471;

    --color-twitter-text-primary: #e7e9ea;
    --color-twitter-text-secondary: #71767b;
    --color-twitter-text-error: #f4212e;
    --color-twitter-text-divider: #3b3f44;

    --color-twitter-accent-primary: #1d9bf0;
    --color-twitter-accent-primary-hover: #1a8cd8;
    --color-twitter-accent-primary-disabled: #1f6ba5;

    --color-twitter-background-surface: #15202b;
    --color-twitter-background-hover: #1d2733;
    --color-twitter-background-subtle-hover: #1e2a36;
    --color-twitter-background-pinned: #1b3144;
    --color-twitter-background-card: #19232d;
    --color-twitter-background-hover-inverse: #1f2a33;

    --color-twitter-border-light: #273340;
    --color-twitter-border-input: #38444d;

    --color-twitter-fill: #16181c;
    --color-twitter-fill-muted: #8b98a5;
    --color-twitter-fill-accent: #1d9bf0;

    --color-twitter-divide-light: #273340;
    --color-twitter-overlay: rgba(255, 255, 255, 0.2);
    --color-twitter-ring-focus: #0ea5e9;
    --color-twitter-ring-offset: #15202b;
  }
}
